@media (max-width: 1400px) {
  .card {
    width: calc(20% - 3rem);
  }

  .product__box {
    flex-wrap: wrap;
  }

  .product__box-item {
    width: 100%;
  }

  .box--filter .category-list {
    width: 17.5%;
  }
}

@media (max-width: 1300px) {

  .cabinet__history-date,
  .cabinet__history-sum {
    font-size: 1.2rem;
    margin: 0 5% 0 0;
  }

  .cabinet__history-status,
  .cabinet__history-item a {
    font-size: 1rem;
  }

  .cabinet__history-num {
    font-size: 1.4rem;
    margin: 0 5% 0 0;
  }

  .cabinet__right--column {
    flex-direction: column;
  }

  .cabinet__goods {
    width: 100%;
  }

  .cabinet__aside {
    display: flex;
    width: calc(100% + 3rem);
    margin: 3rem 0 0 -3rem;
  }

  .cabinet__aside-box {
    margin: 0 0 0 3rem;
    width: calc(50% - 3rem);
  }

  .cabinet .card {
    width: calc(25% - 3rem);
  }
}

@media (max-width: 1024px) {
  .header__menu-btn {
    margin: 0 0 0 1.5rem;
    padding: 0;
    display: block;
    width: 2rem;
    height: 1.3rem;
    position: relative;
    background-color: transparent;
    cursor: pointer;
    outline: none;
    border: none;
    flex-shrink: 0;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 1px;
      background-color: #000;
    }

    span {
      margin: 0 0 0 auto;
      display: block;
      width: 100%;
      height: 1px;
      background-color: #000;
    }

    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 1px;
      background-color: #000;
    }
  }

  .navigation-bottom,
  .navigation-top {
    display: flex !important;

    .header__tel {
      font-size: 1.4rem;
    }
  }

  .navigation-top {
    justify-content: space-between;
    align-items: center;
  }

  .navigation-wrap__inner {
    height: 100%;
    width: 100%;
    position: relative;
    padding: 2.4rem 1rem 5rem 1rem;
    overflow: hidden;
  }

  .navigation-bottom {
    padding: 1.2rem 0 0 2rem;
    display: flex;
    position: absolute;
    z-index: 999;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    background-color: #EDF2DA;

    .header__tel {
      margin: 0;
    }
  }

  .navigation-wrap {
    margin: 0;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: auto;
    width: 32rem;
    height: 100vh;
    z-index: 9999;
    display: flex !important;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    transform: translateX(100vw);
    transition: transform .3s;
    overflow: auto;
    background-color: #fff;
  }

  .navigation ul {
    display: flex;
    flex-direction: column;
  }

  .navigation-wrap.open {
    transform: translateX(0);
  }

  .intro .category-list {
    margin: 0;
  }

  .category-list {
    margin: 0;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 32rem !important;
    height: 100vh;
    z-index: 9999;
    display: flex !important;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    transform: translateX(-100vw);
    transition: transform .3s;
    overflow: auto;
    background-color: #fff;
  }

  .category-list.open {
    transform: translateX(0);
  }

  .category-list strong {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .box--filter {
    .category-list__inner {
      position: relative;
    }

    .category-list__close {
      position: absolute;
      top: 1rem;
      right: 2.5rem;
      width: 2.5rem;
      height: 2.5rem;

      &::after,
      &::before {
        width: 60%;
        left: 0.5rem;
        top: 1.1rem;
      }
    }
  }

  .category-list__close {
    padding: 0;
    display: block;
    position: relative;
    width: 2rem;
    height: 2rem;
    color: #fff;
    background-color: #8B9F57;
    border-radius: 50%;

    &::after,
    &::before {
      content: "";
      position: absolute;
      left: 0;
      width: 100%;
      height: .2rem;
      background-color: #fff;
    }

    &::after {
      transform: rotate(45deg);
    }

    &::before {
      transform: rotate(-45deg);
    }
  }

  .category-menu {
    box-shadow: none !important;
    padding: 1rem 2rem;
    height: 37rem;
    overflow: auto;
  }

  .category-menu.open {
    position: inherit;

    .category-menu__inner {
      flex-direction: column;
    }
  }

  .header__tel {
    margin: 0 0 0 auto;
    font-size: 0;
  }

  .intro__line,
  .intro__inner-left,
  .header .header__languege,
  .header__user,
  .header__faboretes {
    display: none;
  }

  .intro__inner-right {
    margin: 0;
    width: 100%;
  }

  .card {
    width: calc(33.33333% - 3rem);
  }

  .intro__slider {
    margin: 0;
  }

  .intro__item-inner,
  .banner__inner,
  .banner--page .banner__inner {
    max-width: 70%;
    padding: 6rem 5rem 6rem 4.7rem;
  }

  .intro__item-inner h2,
  .banner h4 {
    font-size: 3rem;
  }

  .intro__item-inner p,
  .banner p {
    font-size: 1.6rem;
  }

  .intro__item-box s {
    font-size: 1.8rem;
    line-height: 2rem;
  }

  .intro__item-box b {
    font-size: 2.2rem;
  }

  .intro__btn {
    padding: 1rem 2rem;
    font-size: 1.2rem;
  }

  .intro {
    padding: 2.8rem 0 4.5rem;
  }

  .popular {
    padding: 4.5rem 0 4.5rem;
  }

  .title {
    font-size: 3.2rem;
  }

  .popular__top {
    margin: 0 0 4rem 0;
  }

  .preference ul {
    flex-direction: column;
  }

  .preference__item {
    width: calc(100% - 3rem);
    margin: 0 0 1.7rem 3rem;
  }

  .preference h5 {
    font-size: 2.8rem;
  }

  .preference__inner {
    max-width: 70%;
    min-height: 27.8rem;
  }

  .card__img {
    margin: 0 0 1.5rem 0;
  }

  .banner {
    padding: 3.5rem 0 3.5rem;
  }

  .review {
    padding: 3.5rem 0;
  }

  .join {
    padding: 2.6rem 0 7rem;
  }

  .join__inner {
    flex-direction: column;
  }

  .join__left {
    padding: 0;
    margin: 0 0 2rem 0;
    width: 100%;

    &::before {
      display: none;
    }
  }

  .join__right {
    width: 100%;
  }

  .footer__inner {
    flex-wrap: wrap;
  }

  .footer__box,
  .footer__coll,
  .footer__date,
  .footer nav,
  .footer__soc {
    width: 50%;
    margin: 0 0 2rem 0;
  }

  .footer__box p {
    width: 50%;
  }

  .card__like {
    right: .5rem;
  }

  .box__left {
    display: none;
  }

  .box__right {
    width: 100%;
    margin: 0;
  }

  .box {
    padding: 0;
  }

  .category li {
    width: calc(50% - 3rem);
  }

  .category__title {
    font-size: 3rem;
  }

  .category h6 {
    font-size: 1.6rem;
  }

  .sale b {
    font-size: 5rem;
  }

  .sale h5 {
    font-size: 2rem;
  }

  .sale p {
    font-size: 1.2rem;
  }

  .sale__slider-inner {
    min-height: 40rem;
  }

  .modal-search {
    height: 10.4rem;
    padding: 3rem;
  }

  .modal-search input {
    padding: 1rem 1.5rem 1rem 7rem;
    height: 4.4rem;
    font-size: 1.4rem;

    &::placeholder {
      font-size: 1.4rem;
    }
  }

  .navigation-logo {
    width: 4.8rem;
    height: 1.2rem;

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }

  .navigation-top {
    margin: 0 0 3rem 0;
  }

  .navigation>ul>li {
    border-bottom: 1px solid rgba(209, 223, 163, 0.40);
  }

  .footer {
    margin: 0 0 6.2rem 0;
  }

  .underfooter {
    padding: 1rem 2rem;
    display: block;
    position: fixed;
    z-index: 998;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    background-color: #fff;
    box-shadow: 2px 2px 50px 0px rgba(0, 0, 0, 0.10);

    &__inner {
      display: flex;
      align-items: flex-end;
      justify-content: space-between;
    }

    &__col {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-end;
    }

    img,
    svg {
      margin: 0 0 0.5rem 0;
      width: 1.5rem;
      height: 1.5rem;
      object-fit: contain;
    }

    span {
      font-size: .8rem;
      font-weight: 400;
    }

    .header__languege {
      padding: 0;
      text-align: center;
    }

    .header__languege-child {
      margin: 0 0 .5rem 0;
      height: 3rem;
    }

    .header__languege span {
      font-size: 1.4rem;
    }

    .header__languege-child::before {
      display: none;
    }

    .header__languege-child:hover .header__languege-dropdown-wrap {
      top: -5.5rem;
      border-radius: 0.5rem 0.5rem 0 0;
    }

    .header__languege-child:hover .header__languege-dropdown {
      padding: 0;
    }

    &__btn {
      display: flex;
      flex-direction: column;
      align-items: center;
      cursor: pointer;
      outline: none;
      background-color: transparent;
      border: none;
      padding: 0;
    }

    &--cabinet {
      .underfooter__col.active {
        svg+span {
          color: #8B9F57;
        }

        svg path {
          fill: #8B9F57;

        }
      }
    }
  }

  .header__languege {
    margin: 0;
    border: none;
  }

  .box__right--filters .card {
    width: calc(33.33333% - 3rem);
  }

  .box__right--filters .title {
    font-size: 3.2rem;
  }

  .popular-slider .slick-arrow {
    top: -2.8rem;
  }

  .filter-btn {
    display: flex;
  }

  .box--filter .category-list__inner>ul {
    padding: 5rem 1.5rem 2rem 1.5rem;
  }

  .product {
    padding: 3rem 0 4rem;
  }

  .product__inner {
    flex-direction: column;
  }

  .product__slider {
    margin: 0 0 6rem 0;
    width: 100%;
  }

  .product__slider-top {
    margin: 0 0 0 3rem;
    width: calc(100% - 17.4rem);
  }

  .product__slider-bottom .product__img-item {
    height: 5.5rem;
  }

  .product__slider-top .product__slider-item {
    height: 30rem;
  }

  .product__slider .card__stickers li {
    font-size: 1.8rem;
    font-weight: 400;
  }

  .product__right {
    margin: 0;
  }

  .product h3 {
    margin: 0 0 1.5rem 0;
    font-size: 2.4rem;
    max-width: 100%;
  }

  .product__info span,
  .product__num {
    font-size: 1.2rem;
  }

  .product__rate-wrap {
    .jq-ry-container {
      zoom: .6;
    }
  }

  .product__num {
    margin: 0 1.5rem 0 1rem;
  }

  .product__info {
    margin: 0 0 1.5rem 0;
  }

  .product__rate-wrap {
    padding: 0 0 0 1.5rem;
  }

  .product p {
    margin: 1.2rem 0 0;
    font-size: 1.2rem;
  }

  .product__box-item--wholesale {
    margin: 1rem 0 0 0;
  }

  .product__box-item {
    padding: 0.8rem 1rem;
    margin: 2rem 0 0 0;
  }

  .product__box-item b {
    font-size: 1.4rem;
    margin: 0 0 0.8rem 0;
  }

  .product__box-sale {
    font-size: 1.6rem;
  }

  .product__box-price {
    font-size: 2.4rem;
  }

  .product__bonus li {
    padding: 1rem 1.5rem;
    font-size: 1.2rem;
  }

  .product__bonus li+li {
    margin: 0;
  }

  .product__line {
    padding: 1.8rem 0 0 0;
    margin: 0 0 1.7rem 0;
  }

  .product__add {
    padding: 1.1rem 2rem 1.1rem 2rem;
    margin: 0 1.5rem 0 1.5rem;
    height: 3.7rem;
    font-size: .8rem;
    white-space: nowrap;
  }

  .calc {
    width: 7.2rem;
    height: 3.7rem;
  }

  .product .card__like {
    height: 3.7rem;
    width: 3.7rem;
  }

  .product__remainder,
  .product__remainder b {
    font-size: 1rem;
  }

  .tab__btn {
    font-size: 1.8rem;
  }

  .tab h6 {
    font-size: 1.4rem;
  }

  .tab p,
  .list-dot li,
  .tab__item-line {
    font-size: 1.2rem;
  }

  .tab .review__slider-name {
    font-size: 1.4rem;
  }

  .tab .review__slider-info span {
    font-size: 1rem;
  }

  .tab .review__slider-item {
    padding: 1rem;
  }

  .contacts .tab__col-wrap {
    flex-direction: column;
  }

  .contacts .tab__item-col {
    width: 100% !important;
  }

  .contacts .tab__item-col:nth-child(2) {
    margin: 6rem 0 0 0;
  }

  .contacts .title {
    font-size: 3rem;
    margin: 0 0 3rem 0;
  }

  .contacts h6 {
    font-size: 2.4rem;
  }

  .contacts .tab__item-col>p {
    max-width: 100%;
    margin: 0 0 1.5rem 0;
    font-size: 1.2rem;
  }

  .contacts a,
  .contacts span {
    font-size: 1.4rem;
  }

  .delivery h2,
  .pay h2,
  .bacsket h2,
  .order h2 {
    font-size: 3rem;
    margin: 0 0 3rem 0;
  }

  .delivery h3,
  .pay h3 {
    margin: 0 0 2rem 0;
    font-size: 2rem;
  }

  .delivery p,
  .delivery span,
  .pay p,
  .pay span {
    font-size: 1.2rem;
  }

  .delivery h4 {
    padding: 0 0 1rem 0;
    margin: 1.5rem 0 2rem;
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 120%;
    border-bottom: 1px solid #d9d9d9;

    span {
      font-size: 1.8rem;
    }
  }

  .pay__item {
    margin: 0 0 3rem 0;
  }

  .pay {
    padding: 3rem 0 4rem 0;
  }

  .delivery__box-item span,
  .pay__item span {
    width: 14rem;
  }

  .list-decimal li {
    margin: 0 0 .6rem 0;
  }

  .page--cooperation {
    padding: 0 0 5.5rem 0;

    .pay h3 {
      margin: 0 0 1.5rem 0;
    }

    .pay h5,
    .delivery h5 {
      font-size: 1.8rem;
      margin: 1rem 0 0.5rem 0;
    }

    .pay h6,
    .delivery h6 {
      font-size: 1.4rem;
      margin: 2rem 0 0.5rem 0;
    }

    .delivery {
      margin: 0 0 3rem 0;
    }
  }

  .range {
    height: 8.6rem;
  }

  .range__box {
    height: 5.5rem;
  }

  .box--filter .category-list__inner>ul {
    height: calc(100vh - 14.1rem);
  }

  .range {
    padding: .5rem 2.5rem 0;
    width: 100% !important;
  }

  .bacsket__inner {
    flex-direction: column;
  }

  .bacsket__left {
    width: 100%;
  }

  .bacsket__right {
    margin: 6rem 0 0 0;
    width: 100%;
  }

  .bacsket h6,
  .bacsket__price,
  .bacsket__sum,
  .bacsket__box-item,
  .bacsket__bottom {
    font-size: 1.4rem;
  }

  .bacsket__img {
    width: 13.5rem;
    height: 10.5em;
    margin: 1rem 4% 0 0;
    flex-shrink: 0;
  }

  .bacsket__info-title,
  .order h6 {
    font-size: 2rem;
  }

  .order__inner {
    flex-direction: column;
  }

  .order__left {
    width: 100%;
  }

  .order__right {
    margin: 3rem 0 0 0;
    width: 100%;
  }

  .order__bottom strong {
    font-size: 1.4rem;
  }

  .cabinet__left {
    display: none;
  }

  .cabinet__right {
    width: 100%;
    margin: 0;
  }

  .cabinet__right-inner {
    flex-direction: column;
  }

  .cabinet__right-inner {
    padding: 2rem 1rem;
  }

  .cabinet__right-avatar {
    max-width: 32.8rem;
    margin: 0 auto 1.5rem;
  }

  .cabinet__img-wrap {
    height: 34.1rem;
  }

  .cabinet h2 {
    margin: 0 0 3rem 0;
    font-size: 3rem;
  }

  .cabinet__input-wrap {
    width: calc(100% - 3rem);
    margin: 0 0 1.5rem 3rem;
  }

  .cabinet h6 {
    font-size: 2rem;
    padding: 0 0 1rem 0;
    margin: 0 0 1.7rem 0;
  }

  .cabinet__right-top a {
    display: flex;
    margin: 1rem 0 0 0;
    font-size: 1.2rem;
  }

  .cabinet input {
    padding: 1.3rem 1.3rem;
    font-size: 1.2rem;

    &::placeholder {
      font-size: 1.2rem;
    }
  }

  .cabinet__col-wrap {
    flex-direction: column;
    margin: 0 0 0 -3rem;
  }

  .cabinet__right-col {
    margin: 1.5rem 0 0 3rem;
    padding: 1rem;
    width: calc(100% - 3rem);
  }

  .cabinet {
    padding: 0 0 6rem;
  }

  .cabinet h3 {
    font-size: 1.2rem;
    max-width: 20rem;
  }

  .cabinet__goods-sum,
  .cabinet__goods-price,
  .cabinet__aside-box li,
  .cabinet p {
    font-size: 1.2rem;
  }

  .cabinet .card {
    width: calc(33.33333% - 3rem);
  }

  .modal .cabinet__input-wrap {
    position: relative;
    width: calc(100% - 3rem);
    margin: 0 0 1.5rem 3rem;
  }

  .modal .lg {
    width: 100%;
    margin: 0 0 1.5rem 0;
  }

  .modal input {
    padding: 1.3rem 1.3rem;
    font-size: 1.2rem;
  }

  .modal {
    padding: 2rem 1rem;
  }

  .modal h3 {
    font-size: 2rem;
    padding: 0 0 1rem 0;
    margin: 0 0 1.7rem 0;
  }

  .header__box .header__box-drop {
    right: -4rem;
  }
}

@media (max-width: 767px) {
  .container {
    padding: 0 1rem;
  }

  .header__inner {
    height: 5rem;
  }

  .card {
    width: calc(50% - 3rem);
  }

  .intro__item-inner,
  .banner__inner {
    max-width: 70%;
    padding: 3.5rem 3rem 4rem 2.5rem;
  }

  .intro__item-inner h2,
  .banner h4 {
    font-size: 2.2rem;
  }

  .intro__item-inner p,
  .banner p {
    font-size: 1.2rem;
  }

  .intro__item-box s {
    font-size: 1.6rem;
    line-height: 2rem;
  }

  .intro__item-box b {
    font-size: 2rem;
  }

  .preference__inner {
    min-height: auto;
    padding: 3.5rem 3rem 4rem 2.5rem;
  }

  .title {
    font-size: 2.2rem;
  }

  .preference h5 {
    font-size: 2rem;
  }

  .banner__item>img {
    right: -4rem;
    bottom: -8rem;
    width: 30.8rem;
    height: 31.3rem;
  }

  .up {
    right: 1rem;
  }

  .sale__slider-inner {
    min-height: 34.6rem;
  }

  .modal-search {
    top: 5rem !important;
  }

  .box__right--filters .card {
    width: calc(50% - 3rem);
  }

  .box__right--filters .title {
    font-size: 3rem;
  }

  .box__right--filters {
    padding: 0 0 2rem 0;

    .banner {
      padding: 1.5rem 0 1.5rem;
    }

    .popular {
      padding: 0 0 1.5rem;
    }
  }

  .popular--filter .slick-list {
    padding: 3rem 0;
  }

  .tab {
    padding: 2.5rem 0 2rem;
  }

  .tab__col-wrap {
    flex-direction: column;
    width: 100%;
    margin: 0;
  }

  .tab__btn {
    margin: 0 1rem 0 0;
    padding: 0.6rem 2rem;
  }

  .tab__btn {
    font-size: 1.6rem;
  }

  .tab h6 {
    font-size: 1.6rem;
    margin: 2rem 0 2rem;
  }

  .tab__item-col:nth-child(2) {
    margin: 0;

    .tab__item-line:nth-child(even) {
      background-color: rgba(217, 217, 217, .5);
      border-radius: 0.6rem;
    }

    .tab__item-line:nth-child(odd) {
      background-color: #fff;
    }
  }

  .tab__item-line {
    padding: 1rem;
  }

  .tab .review__slider-avatar {
    margin: 0 2rem 0 0;
    width: 3rem;
    height: 3rem;
  }

  .tab .pagination {
    margin: 0 0 3rem 0;
  }

  .tab__form-box {
    margin: 0;
    flex-direction: column;
  }

  .tab__input-wrap {
    margin: 0 0 1rem 0;
    width: 100%;
  }

  .tab__input-wrap input,
  .tab__textarea-wrap textarea {
    padding: 1.2rem 1rem;
    font-size: 1.2rem;

    &::placeholder {
      font-size: 1.2rem;
    }
  }

  .tab__textarea-wrap textarea {
    height: 7.7rem;
  }

  .tab__form p {
    margin: 0 0 2rem 1rem;
    font-size: 1rem;
  }

  .tab .btn-green {
    font-size: 1rem;
  }

  .contacts {
    padding: 0 0 3rem 0;
  }

  .delivery__inner,
  .pay__inner {
    padding: 2rem 1rem;
  }

  .delivery__box-item span,
  .pay__item span {
    width: 8rem;
  }

  .delivery {
    margin: 0 0 3rem 0;
  }

  .pay__inner>p {
    margin: 0 0 2rem 0;
  }

  .pay__item span {
    font-size: 1.4rem;
  }

  .pay__item {
    margin: 0 0 2rem 0;
  }

  .bacsket {
    padding: 0 0 4rem 0;
  }

  .bacsket__left {
    padding: 0 0 2rem 0;
    border-radius: 1.2rem;
    box-shadow: .2rem .2rem 5rem 0 rgba(0, 0, 0, 0.10);
  }

  .bacsket__item {
    margin: 0;
    padding: 2rem 1.5rem 3.5rem;
    box-shadow: none;
  }

  .bacsket__price {
    display: none;
  }

  .bacsket__amount,
  .bacsket__sum span {
    display: block;
  }

  .bacsket__sum {
    display: flex;
  }

  .bacsket h6,
  .bacsket__price,
  .bacsket__sum {
    font-size: 1.2rem;
  }

  .bacsket__sum {
    margin: 0.5rem 0 0 0;
    width: 100%;
    font-weight: 500;
    color: #8B9F57;
  }

  .bacsket__amount,
  .bacsket__sum span {
    color: #16110C;
  }

  .bacsket__box {
    flex-wrap: wrap;
  }

  .bacsket h6 {
    max-width: 56%;
  }

  .bacsket__left-bottom {
    display: none;
  }

  .order__sm,
  .order__md {
    flex-direction: column;

    .order__inup-wrap {
      width: calc(100% - 3rem);
      margin: 0 0 1.5rem 3rem;
    }
  }

  .order__sm {
    margin: 0 0 0 -3rem;
  }

  .order__item {
    margin: 0 0 1.5rem 0;
    padding: 2rem 1rem;
  }

  .order h6 {
    padding: 0 0 1rem 0;
    margin: 0 0 1.5rem 0;
  }

  .order__inup-wrap input {
    padding: 1.2rem 1rem;

    &::placeholder {
      font-size: 1.2rem;
    }
  }

  .order b {
    font-size: 1rem;
    margin: 0 0 0 .8rem;
  }

  .order__radio {
    margin: 1.5rem 3rem 0 0;
    font-size: 1.2rem;
  }

  .order__radio-btns+p {
    font-size: 1.2rem;
  }

  .order__radio-btns+p+p {
    font-size: 1.2rem;
  }

  .order__info {
    padding: 2rem 1rem;
  }

  .btn-green {
    margin: 2rem 0 0 0;
  }

  .login .tab__input-wrap {
    margin: 0 0 1rem 0;
  }

  .login__item.col .tab__input-wrap {
    width: 100%;
    margin: 0 0 1rem 0;
  }

  .login__item.col .tab__form-box {
    width: 100%;
  }

  .login {
    padding: 6rem 0 4rem;
  }

  .login__btn {
    font-size: 2rem;
  }

  .login__inner {
    padding: 2rem 1rem;
  }

  .login__buttons {
    padding: 0 0 1rem 0;
    margin: 0 0 2rem 0;
  }

  .login p {
    font-size: 1rem;
  }

  .join .btn-green {
    margin: 0;
  }

  .cabinet__history-item {
    padding: 0 0 1.6rem 0;
    margin: 0 0 1.2rem 0;
    flex-wrap: wrap;
    align-items: flex-start;
  }

  .cabinet__history-num {
    width: 50%;
    margin: 0 0 1.3rem 0;
    order: 1;

    span {
      display: block;
    }
  }

  .cabinet__history-date {
    margin: 0 0 1.3rem 0;
    width: 50%;
    order: 3;
  }

  .cabinet__history-sum {
    margin: 0 0 1.2rem 0;
    width: 50%;
    order: 4;
  }

  .cabinet__history-status {
    display: block;
    width: fit-content;
    margin: 0 0 0 auto;
    order: 2;
  }

  .cabinet__history-item a {
    order: 5;
    width: 100%;
  }

  .cabinet__aside {
    margin: 0;
    width: 100%;
    flex-direction: column;
  }

  .cabinet__aside-box {
    margin: 3rem 0 0 0;
    width: 100%;
  }

  .cabinet__goods-inner {
    padding: 2rem 1rem;
  }

  .cabinet__goods-top h4 {
    font-size: 1.4rem;
  }

  .cabinet__goods-top span {
    font-size: 1.2rem;
  }

  .cabinet__goods-item {
    margin: 0 0 1rem 0;
    padding: 0;
    align-items: flex-start;
  }

  .cabinet__goods-box {
    flex-wrap: wrap;
  }

  .cabinet__goods-top {
    margin: 0 0 0.5rem 0;
  }

  .cabinet__goods-img {
    margin: .5rem 1.5rem 0 0;
    width: 4.5rem;
    height: 3.5rem;
  }

  .cabinet h3 {
    margin: 0 0 1rem 0;
    max-width: 100%;
  }

  .cabinet__goods-sum span {
    padding: 0 0.2rem;
  }

  .cabinet__goods-price {
    font-weight: 500;
  }

  .cabinet__aside-box {
    padding: 1rem;
  }

  .cabinet__aside-box h5 {
    margin: 0 0 1rem 0;
  }

  .cabinet__aside-box li {
    margin: 0 0 1rem 0;
  }

  .product-list {
    margin: 0 0 0 -3rem;
  }

  .cabinet .product-list {
    margin: 0 0 0 -1.5rem;
  }


  .cabinet .card {
    margin: 0 0 1.5rem 1.5rem;
    width: calc(50% - 1.5rem);
  }
}


@media (max-width: 500px) {
  .modal-search {
    padding: 3rem 1.5rem;
  }

  .product-list {
    margin: 0 0 0 -1.5rem;
  }

  .card {
    width: calc(50% - 1.5rem);
    margin: 0 0 1.5rem 1.5rem;
  }

  .header__logo {
    width: 4.8rem;
    height: 1.2rem;
  }

  .intro {
    padding: 1.8rem 0 2.5rem;
  }

  .banner__inner,
  .intro__item-inner {
    max-width: 100%;
    width: 100%;
    padding: 2.5rem 3rem 7rem 2rem;
  }

  .banner h4,
  .intro__item-inner h2 {
    font-size: 3.4rem;
    margin: 0px 0 1rem 0;
  }

  .banner p,
  .intro__item-inner p {
    font-size: 1.6rem;
  }

  .intro__item-box {
    display: flex;
    flex-direction: column;
    margin: 2.8rem 0 3.3rem;
  }

  .intro__item-box b {
    margin: 0;
  }

  .intro__item-box s {
    margin: 0 0 1.3rem 0;
    font-size: 2.4rem;
    line-height: 120%;
  }

  .intro__item-box b {
    font-size: 3.2rem;

    span {
      font-weight: 600;
    }
  }

  .slick-dots {
    right: 3%;
    bottom: 1.5%;
    padding: .8rem 1rem;
  }

  .slick-dots button {
    width: 0.6rem;
    height: 0.6rem;
  }

  .intro__item {
    border-radius: 1.5rem;
  }

  .popular {
    padding: 3.7rem 0 3rem;
  }

  .title {
    font-size: 2.4rem;
  }

  .btn-all {
    text-transform: capitalize;

    span {
      display: none;
    }
  }

  .popular__top {
    align-items: flex-end;
  }

  .popular__top {
    margin: 0 0 3rem 0;
  }

  .card__like {
    top: -0.3rem;
    right: 0;
  }

  .card__stickers {
    top: 0.8rem;
    left: 0.8rem;
  }

  .card__stickers li {
    padding: 0.2rem 0.4rem;
    border-radius: .3rem;
  }

  .card__img {
    padding: 2.8rem 2rem 1.8rem 2rem;
    margin: 0 0 0.8rem 0;
  }

  .card__img img {
    width: 88%;
    height: 88%;
  }

  .card__item-inner {
    padding: 0 .4rem;
  }

  .card h4 {
    font-size: 1.2rem;
    margin: 0 0 0.7rem 0;
  }

  .card .rateYo {
    transform: scale(.7);
    margin: 0 0 0 -1.5rem;
  }

  .card__amount {
    font-size: .8rem;
    margin: 0.3rem 0 0 0;
  }

  .card__price {
    font-size: 1.2rem;
  }

  .card__price-new {
    font-size: 1.6rem;
  }

  .card__rate-wrap {
    margin: 0 0 1.5rem 0;
  }

  .preference {
    padding: 1.5rem 0 .5rem;
  }

  .preference__inner {
    max-width: 100%;
    padding: 3.5rem 3rem 4rem 2rem;
  }

  .preference span,
  .banner span {
    padding: 0.4rem 0.7rem;
    font-size: 1.2rem;
  }

  .preference .btn-link,
  .banner .btn-link {
    font-size: 1.4rem;
  }

  .banner {
    padding: 1.5rem 0 2.5rem;
  }

  .banner h4 {
    font-size: 2.4rem;
    margin: 0 0 1rem 0;
  }

  .banner__inner {
    padding: 2.5rem 3rem 2.8rem 2rem;
  }

  .banner--page .banner__inner {
    padding: 2.5rem 3rem 2.8rem 2rem;
    max-width: 100%;
    width: 100%;
  }

  .review .title {
    padding: 0 40% .6rem 0;
  }

  .review .slick-list {
    margin: -4rem 0 0 -1.5rem;
  }

  .review .slick-arrow {
    top: -0.6rem;
  }

  .review h5 {
    font-size: 1rem;
  }

  .review p {
    font-size: 1.2rem;
    -ms-line-clamp: 6;
    -webkit-line-clamp: 6;
    line-clamp: 6;
  }

  .review__btn {
    padding: 0;
    font-size: 1.2rem;
  }

  .review {
    padding: 3.5rem 0 0;
  }

  .join {
    padding: 2.3rem 0 5rem;
  }

  .join__left p {
    margin: 0 0 1.2rem 0;
    font-size: 1.6rem;
  }

  .join__left span {
    width: 100%;
    font-size: 1.2rem;
  }

  .join__input-wrap input::placeholder {
    font-size: .8rem;
  }

  .join__input-wrap .btn-green {
    font-size: 1.2rem;
  }

  .join__right p {
    padding: 0 0 0 2rem;
    font-size: .8rem;
  }

  .category {
    padding: 0 0 0.5rem;
  }

  .category li {
    width: calc(100% - 3rem);
    margin: 0 0 1.8rem 3rem;
  }

  .breadcrumbs__list li+li::before {
    top: 0.35rem;
  }

  .breadcrumbs__list li {
    font-size: .8rem;

  }

  .header--page {
    background-color: #fff;
  }

  .category__title {
    margin: 0px 0 3rem;
  }

  .category img {
    height: 12.6rem;
    width: 10.1rem;
  }

  .sale {
    padding: 1.5rem 0 7.5rem;
  }

  .sale__slider-inner {
    max-width: 90%;
    padding: 2.2rem 2rem 2.8rem;
  }

  .sale b {
    margin: 0 0 1rem 0;
  }

  .sale__slider-item a {
    margin: auto 0 0 0;
  }

  .sale .slick-dots {
    bottom: -4rem;
  }

  .box__right--filters .card {
    width: calc(50% - 1.5rem);
  }

  .product__slider-bottom {
    width: 5.5rem;
  }

  .product__slider-top {
    margin: 0 0 0 1.5rem;
    width: calc(100% - 7rem);
  }

  .breadcrumbs__list li {
    margin: 0 0 1rem 0;
    display: inline-block;
  }

  .product {
    padding: 0 0 4rem;
  }

  .product__slider .card__stickers li {
    font-size: 1rem;
  }

  .product__slider-bottom .product__img-item {
    margin: 0 0 .6rem 0;
    height: 4rem;
  }

  .product__slider-top .product__slider-item {
    height: 19.5rem;
  }

  .product__slider-top .product__slider-item {
    padding: 1.4rem .5rem;
  }

  .product__slider-bottom .slick-arrow {
    width: 2rem;
    height: 2rem;
    bottom: -1.5rem;
  }

  .product__slider {
    margin: 0 0 2.5rem 0;
  }

  .contacts__item {
    width: 100%;
  }

  .contacts__item--meil {
    margin: 0;
  }

  .page.page--all {
    .breadcrumbs {
      margin: 2.2rem 0 0 0;
    }

    .breadcrumbs__inner {
      padding: 0;
    }
  }

  .contacts b {
    font-size: 1.2rem;
  }

  .contacts__box {
    padding: 1.8rem 0 0 0;
  }

  .contacts__item:nth-child(1) {
    order: 1;
  }

  .contacts__item:nth-child(2) {
    order: 3;
  }

  .contacts__item:nth-child(3) {
    order: 2;
  }

  .contacts__box-soc {
    order: 4;
  }

  .bacsket__item {
    align-items: flex-start;
    padding: 2rem 1.5rem 0rem 2.5rem;
  }

  .bacsket__img {
    width: 4.5rem;
    height: 3.5em;
    margin: 0 4% 0 0;
    flex-shrink: 0;
  }

  .bacsket .calc {
    margin: 0;
  }

  .bacsket h6 {
    margin: 0 8% 0 0;
  }

  .bacsket__box {
    align-items: flex-start;
  }

  .bacsket__close {
    width: 16px;
    height: 16px;
    top: 1.5rem;
    left: 0.8rem;
  }

  .bacsket__info {
    padding: 2rem 1rem;
  }

  .bacsket__box-item strong {
    width: 9.5rem;
  }

  .bacsket__right-box {
    margin: 0 0 2.5rem 0;
    padding: 3rem 0 1rem;
  }

  .bacsket__box-item {
    margin: 0 0 0.8rem 0;
  }

  .bacsket__bottom {
    margin: 0 0 3rem 0;
  }

  .card__close {
    top: 0.8rem;
    right: 1rem;
  }

  .header__box .header__box-drop {
    padding: 2rem 1rem;
    width: 31rem;
  }

  .header__box .header__box-drop .bacsket__img {
    width: 4.5rem;
    height: 4.5em;
    margin: 0 1rem 0 1rem;
  }

  .header__box .header__box-drop h6,
  .header__box .header__box-drop .bacsket__sum {
    font-size: 1.2rem;
    margin: 0 0 0.5rem 0;
  }

  .header__drop-price {
    padding: 1.8rem 0;
    font-size: 1.2rem;
  }

  .header__drop-btns .btn-transparent,
  .header__drop-btns .btn-green {
    font-size: 1.2rem;
  }

  .filter {
    max-width: 20rem;
    width: 100%;

    .select2-container--default .select2-selection--single .select2-selection__rendered {
      max-width: 12rem;
    }
  }

  .page-filter .select2-container--open .select2-dropdown--below {
    width: 20rem !important;
    left: auto;
    right: -13rem;
  }


  .footer__inner {
    padding: 2rem 0 3rem;
  }

  .footer nav,
  .footer__box,
  .footer__coll,
  .footer__date {
    width: 100%;
    margin: 0 0 1.9rem 0;
  }

  .footer__soc {
    margin: 1rem 0 0 0;
  }

  .footer__box p {
    width: 100%;
    line-height: 120%;
  }

  .footer a,
  .footer__date-boxx span {
    font-size: 1.2rem;
  }

  .footer__bot {
    padding: 1.5rem 0 3rem;
  }

  .footer__bot p {
    font-size: .8rem;
    letter-spacing: 0;
  }
}