.filter-wrap {
  margin: 0 0 3.2rem 0;
  display: flex;
  align-items: center;

  &>span {
    margin: 0 1rem 0 0;
    display: flex;
    color: #868E96;
    font-size: 1.2rem;
    font-weight: 400;
  }
}

.filter {
  width: 20rem;
}

.select {
  width: 100%;

  color: #16110C;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 120%;


  .select2-container {
    width: 100% !important;
  }

  .select2-container--default .select2-selection--single .select2-selection__arrow {
    top: 50%;
    transform: translateY(-50%);
  }

  .select2-container--default .select2-selection--single .select2-selection__arrow b {
    display: block;
    border: none;
    height: 2rem;
    margin-left: -.4rem;
    margin-top: 0rem;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: .8rem;
    background-image: url("../images/dest/icons/arrow-filter.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
  }
}

.select2-results__option {
  color: #16110C;
  font-size: 1.2rem !important;
  font-weight: 400;
  line-height: 120%;
}

.select2-dropdown {
  top: .8rem;
  border-radius: .8rem !important;
  border: .1rem solid rgba(209, 223, 163, 0.40) !important;
  background-color: #fff !important;
  overflow: hidden;
}

.select2-container--default .select2-selection--single {
  border-radius: .5rem !important;
  border: .1rem solid rgba(209, 223, 163, 0.40) !important;
  background-color: #fff !important;
  height: 2.8rem;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
  line-height: 2.8rem;
}

.select2-container--default .select2-results__option--highlighted.select2-results__option--selectable {
  background-color: rgba(#8B9F57, .4);
  color: #000;
}

.select2-container--default .select2-results__option--selected {
  background-color: #8B9F57 !important;
  color: #fff !important;
}

.select2-search--dropdown .select2-search__field {
  border-radius: .8rem;
  background-color: rgba(217, 217, 217, 0.30);
  border: none !important;
  outline: none;
  height: 3.4rem;
  padding: 0.4rem 3rem;
}

.select2-search--dropdown {
  position: relative;

  &::after {
    position: absolute;
    content: "";
    left: 1rem;
    top: 50%;
    transform: translateY(-50%);
    width: 1.5rem;
    height: 1.5rem;
    background-image: url("../images/dest/icons/search.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
  }
}