@import "global";
@import "lists";
@import "slider";
@import "buttons";
@import "modal";
@import "select";
@import "range-slider";

.margin-top {
  margin: 6.9rem 0 0 0;
}

.header {
  box-shadow: 0rem .1rem .1rem 0rem rgba(94, 103, 77, 0.15);

  &--page {
    background-color: #EFEBE2;
    box-shadow: 0 .2rem .2rem 0 rgba(94, 103, 77, 0.15);
  }

  &--main {
    background-color: #fff;

    .navigation-wrap {
      display: none;
    }
  }

  &__inner {
    display: flex;
    align-items: center;
    height: 6.9rem;
    padding: 0.7rem 0;
  }

  &__logo {
    width: 10.8rem;
    height: 2.3rem;

    img,
    svg {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }

  &__tel {
    margin: 0 2.6rem 0 auto;
    display: flex;
    align-items: center;
    font-size: 1.4rem;
    font-weight: 500;
    color: #16110C;
    transition: linear .2s;

    &:hover {
      opacity: .6;
    }

    img {
      margin: 0 0.5rem 0 0;
      width: 1.5rem;
      height: 1.5rem;
      object-fit: contain;
    }
  }

  &__search {
    width: 4rem;
    height: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: linear .2s;

    img {
      width: 1.4rem;
      height: 1.6rem;
      object-fit: contain;
    }

    &:hover {
      opacity: .6;
    }
  }

  &__viber {
    width: 4rem;
    height: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: linear .2s;

    img {
      width: 1.4rem;
      height: 1.6rem;
      object-fit: contain;
    }

    &:hover {
      opacity: .6;
    }
  }

  &__telegram {
    width: 4rem;
    height: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: linear .2s;

    img {
      width: 1.4rem;
      height: 1.6rem;
      object-fit: contain;
    }

    &:hover {
      opacity: .6;
    }
  }

  &__languege {
    margin: 0 3.8rem;
    padding: 0 4rem;
    border-left: .1rem solid rgba(22, 17, 12, 0.30);
    border-right: .1rem solid rgba(22, 17, 12, 0.30);
  }

  &__languege-child {
    width: 3.3rem;
    position: relative;
    font-size: 1.4rem;
    height: 4.8rem;
    cursor: pointer;

    &::before {
      content: "";
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      right: .2rem;
      background-image: url("../images/dest/icons/arrow-lang.svg");
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
      width: .7rem;
      height: .4rem;
    }

    &:hover {
      .header__languege-dropdown {
        z-index: 10;
        width: 100%;
        left: 0;
        top: 4.8rem;
        padding: 0 0 0 1.3rem;

        li {
          padding: .5rem 0;
        }
      }

      .header__languege-dropdown-wrap {
        box-shadow: .2rem .2rem 5rem 0 rgba(0, 0, 0, 0.10);
        background-color: #fff;
        display: block;
        z-index: 10;
        width: 150%;
        left: -30%;
        top: 3.9rem;
        padding: 1.3rem 0 1.3rem 0;
        border-radius: 0 0 .5rem .5rem;
      }
    }

    &>span {
      line-height: 4.8rem;
    }
  }

  &__languege-dropdown-wrap {
    position: absolute;
    display: none;
  }

  &__languege-dropdown {

    li:hover {
      color: #8B9F57;
    }
  }

  &__user {
    width: 4rem;
    height: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;

    img {
      width: 1.6rem;
      height: 1.8rem;
      object-fit: contain;
    }

    transition: linear .2s;

    &:hover {
      opacity: .6;
    }
  }

  &__faboretes {
    width: 4rem;
    height: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;

    img {
      width: 1.5rem;
      height: 1.4rem;
      object-fit: contain;
    }

    transition: linear .2s;

    &:hover {
      opacity: .6;
    }
  }

  &__box {
    position: relative;
    width: 4rem;
    height: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;

    img {
      width: 1.6rem;
      height: 1.5rem;
      object-fit: contain;
      transition: linear .2s;
    }

    span {
      display: block;
      position: absolute;
      top: 0rem;
      right: -0.1rem;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: .8rem;
      font-weight: 500;
      line-height: normal;
      text-transform: uppercase;
      font-family: 'Geologica', sans-serif;
      width: 1.7rem;
      height: 1.7rem;
      border-radius: 50%;
      border: .1rem solid rgba(255, 255, 255, 0.80);
      background-color: #8B9F57;
      color: #fff;
    }

    &:hover {
      img {
        opacity: .6;
      }
    }
  }

  &__menu-btn {
    display: none;
  }
}

.navigation-bottom,
.navigation-top {
  display: none;
}

.navigation-wrap {
  margin: 0 0 0 3rem;
}

.header.sticky {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 100;
  z-index: 999;
  box-shadow: 0 2px 20px 0 rgba(0, 0, 0, 0.15);
}

.header.header--main.sticky {
  .navigation-wrap {
    display: block;
  }
}

.category-menu.open {
  display: flex;
  position: absolute;
  left: 0;
  right: 0;
  top: 6.9rem;
  z-index: 999;
  box-shadow: 0 2px 20px 0 rgba(0, 0, 0, .15);
}

/*end header==============*/
.category-menu {
  display: none;
  position: absolute;
  top: 6rem;
  left: 0;
  right: 0;
  width: 100%;
  border-radius: 0px 0px 1.4rem 1.4rem;
  background: #fff;
  z-index: 9999;
  padding: 2rem 3rem;
  box-shadow: 0.2rem 0.2rem 5rem 0 rgba(0, 0, 0, .1);

  &__inner {
    display: flex;
    width: 100%;
  }

  &__coll {
    width: 20%;

    &>ul {
      display: flex;
      flex-direction: column;
      width: 100%;
    }
  }

  a {
    padding: 1rem 2rem;
    display: flex;
    align-items: center;
    font-size: 1.4rem;
    font-weight: 500;
    color: #16110c;
    transition: linear .2s;

    &:hover {
      background-color: rgba(209, 223, 163, .4);
    }
  }

  img {
    margin: 0 1.5rem 0 0;
    width: 2rem;
    height: 2rem;
    object-fit: contain;
  }

}

.navigation__item-child.active {
  img {
    transform: rotate(180deg);
  }
}

/*start intro============*/
.navigation {
  ul {
    display: flex;
  }

  a,
  span {
    display: flex;
    padding: 1rem 1.5rem;
    color: #16110C;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 120%;
  }

  span {
    display: flex;
    align-items: center;
    cursor: pointer;

    img {
      margin: 0 0 0 0.7rem;
      display: flex;
      width: .7rem;
      height: .5rem;
      object-fit: contain;
    }
  }
}

.intro {
  padding: 2.8rem 0 6.5rem;

  &__line {
    position: relative;
    height: 6.6rem;
    padding: 1.5rem 3rem;
    border-radius: 1.4rem 1.4rem 0 0;
    background-color: rgba(209, 223, 163, 0.40);
  }

  &__line.open {
    .category-menu {
      position: absolute !important;
      display: block;
    }
  }

  &__line-inner {
    margin: 0 0 0 auto;
    width: 78.5%;
    display: flex;
    justify-content: space-between;
  }

  .category-list {
    width: 21%;
    flex-shrink: 0;
  }

  &__input-wrap {
    max-width: 32.5%;
    width: 100%;

    input {
      width: 100%;
      border-radius: .8rem;
      padding: 1.2rem 1.4rem;
      outline: none;
      border: none;
      font-size: 1.2rem;

      &::placeholder {
        color: #8B9F57;
        font-size: 1.2rem;
        font-weight: 400;
        line-height: 2.4rem;
      }
    }
  }

  .category-list {
    margin: -6.6rem 0 0 0;
  }

  &__inner {
    display: flex;
  }

  &__inner-right {
    margin: 0 0 0 3rem;
    width: 77.4%;
  }

  &__slider {
    margin: 2.7rem 0 0 0;
    width: 100%;

    .slick-track {
      display: flex;
      flex-direction: row;
      align-items: stretch;
    }

  }

  &__item {
    height: auto;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 2.5rem;
    overflow: hidden;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background: linear-gradient(91deg, #5E674D 31.16%, rgba(94, 103, 77, 0.00) 91.44%);
      width: 100%;
      height: 100%;
      z-index: -1;
    }
  }

  &__item-inner {
    max-width: 101.8rem;
    position: relative;
    z-index: 1;
    padding: 13.6rem 12.5rem 12.9rem 12.5rem;
    color: #fff;


    p {
      margin: 0 0 1rem 0;
      font-size: 1.8rem;
      font-weight: 400;
      line-height: 120%;
    }

    h2 {
      margin: 0 0 2rem 0;
      font-size: 6rem;
      font-weight: 600;
      line-height: 120%;
    }

  }

  &__item-box {
    margin: 2.8rem 0 5rem;

    s {
      font-size: 2.4rem;
      font-weight: 400;
      line-height: 2.4rem;
    }

    b {
      margin: 0 0 0 2rem;
      font-size: 3.2rem;
      font-weight: 600;

    }

    span {
      font-size: 1.8rem;
      font-weight: 400;
      text-decoration: none
    }
  }

  &__btn {
    display: flex;
    align-items: center;
    width: fit-content;
    padding: 1.5rem 3rem;
    background-color: #fff;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: .8rem;
    color: #16110C;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 120%;

    img {
      margin: 0 0 0 0.9rem;
      width: 2rem;
      height: 0.8rem;
    }
  }
}

/*end intro============*/

/*start popular======*/
.popular {
  padding: 6.5rem 0 6.5rem;

  &__top {
    margin: 0 0 6rem 0;
    padding: 0 0 0.6rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: .1rem solid rgba(209, 223, 163, 0.40);

    .title {
      margin: 0 4rem 0 0;
    }
  }

  &--filter {
    .popular__top {
      margin: 0;
    }

    .product-list {
      margin: 0;
    }

    .card {
      margin: 0 1.5rem;
      width: calc(16.66666% - 3rem);
    }

    .slick-list {
      width: calc(100% + 3rem);
      margin: 0 0 0 -1.5rem;
      padding: 5rem 0;
    }
  }
}

/*end popular======*/

/*start card=========*/
.card {
  margin: 0 0 3rem 3rem;
  width: calc(16.66666% - 3rem);

  &__inner {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  &__stickers {
    position: absolute;
    top: 2.8rem;
    left: 1.8rem;

    li {
      padding: .5rem .6rem;
      margin: 0 0 1rem 0;
      color: #16110C;
      font-size: 1.2rem;
      font-weight: 500;
      line-height: 120%;
      border-radius: .6rem;
      text-align: center;
    }
  }

  &__sticker-one {
    background-color: #FFB800;
  }

  &__sticker-two {
    color: #fff !important;
    background-color: #FF3838;
  }

  &__like {
    position: absolute;
    top: 2rem;
    right: 1.8rem;
    width: 4rem;
    height: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    outline: none;
    cursor: pointer;
    background-color: transparent;

    img {
      width: 1.5rem;
      height: 1.4rem;
      object-fit: contain;
    }
  }

  &__like-two {
    display: none !important;
  }

  &__like.active {
    .card__like-one {
      display: none !important;
    }

    .card__like-two {
      display: block !important;
    }
  }

  &__backet {
    padding: 0;
    position: absolute;
    bottom: 0;
    right: 0;
    width: 4.2rem;
    height: 4.2rem;
    outline: none;
    background-color: transparent;
    border: none;
    cursor: pointer;
    border-radius: 1.1rem;
    overflow: hidden;
    transition: linear .2s;

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }

  &__backet.active {
    background-color: rgb(209, 223, 163);
  }

  &__item-inner {
    padding: 0 1.4rem;
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  &__item {
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  &__img {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.8rem 2rem;
    box-shadow: .2rem .2rem 5rem 0 rgba(0, 0, 0, 0.10);
    border-radius: 1.4rem;
    margin: 0 0 2.3rem 0;

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }

  h4 {
    color: #16110C;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 120%;
    margin: 0 0 1rem 0;
    flex: 1 1 auto;
  }

  &__rate-wrap {
    display: flex;
    align-items: center;
    margin: 0 0 2.5rem 0;
  }

  .rateYo {
    margin: 0 0 0 -.5rem;
  }

  &__amount {
    color: #5E674D;
    font-size: 1.2rem;
    font-weight: 300;
    margin: .3rem 0 0 0;
  }

  &__box {
    padding: 0 4rem 0 0;
  }

  &__price {
    margin: 0 0 1rem 0;
    color: #868E96;
    font-size: 1.6rem;
    font-weight: 400;
    text-decoration: line-through;

    span {
      font-size: 1.4rem;
    }
  }

  &__price-new {
    color: #5E674D;
    font-size: 2rem;
    font-weight: 600;

    span {
      font-size: 1.6rem;
    }
  }
}

/*end card=========*/
.popular-slider {
  .slick-arrow {
    top: -3rem;
    right: 0;
    position: absolute;
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
  }

  .left {
    right: 2rem;
  }

  .slick-arrow {
    width: 2.5rem;
    height: 1.1rem;

    img,
    svg {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }

  .slick-arrow.slick-disabled {
    svg path {
      fill: #868E96;
    }
  }

}


/*start preference============*/
.preference {
  padding: 3.5rem 0 3.5rem;

  ul {
    margin: 0 0 0 -3rem;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
  }

  &__item {
    margin: 0 0 3rem 3rem;
    width: calc(33.33333% - 3rem);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: #fff;
    border-radius: 1.4rem;
    overflow: hidden;
  }

  &__inner {
    min-height: 30.8rem;
    display: flex;
    flex-direction: column;
    padding: 6.9rem 3.9rem 4.7rem;
    max-width: 85%;
  }

  span {
    margin: 0 0 1rem 0;
    padding: 0.6rem 0.7rem;
    display: block;
    width: fit-content;
    font-size: 1.4rem;
    font-weight: 500;
    border-radius: 30rem;
    background-color: #FFB800;
    text-align: center;
  }

  h5 {
    font-size: 3rem;
    font-weight: 600;
    line-height: 120%;
    margin: 0 0 3rem 0;
    flex: 1 1 auto;
  }
}

/*start preference============*/

/*start banner========*/
.banner {
  padding: 3.5rem 0 6.5rem;

  &__item {
    background-color: #8B9F57;
    border-radius: 1.4rem;
    overflow: hidden;
    position: relative;

    &>img {
      position: absolute;
      right: 3rem;
      bottom: -9rem;
      width: 64.8rem;
      height: 54.3rem;
      object-fit: contain;

    }
  }

  &__inner {
    width: 70%;
    padding: 7.8rem 10.6rem 9.4rem;
    position: relative;
    z-index: 1;
    color: #fff;
    overflow: hidden;
    background: linear-gradient(94deg, rgba(33, 37, 41, 0.80) 40.57%, rgba(94, 103, 77, 0.00) 90.19%);

  }

  span {
    margin: 0 0 1rem 0;
    padding: 0.6rem 0.7rem;
    display: block;
    width: fit-content;
    font-size: 1.4rem;
    font-weight: 500;
    border-radius: 30rem;
    background-color: #FF3838;
    text-align: center;
  }

  h4 {
    margin: 0 0 2rem 0;
    font-size: 3.8rem;
    font-weight: 600;
    line-height: 120%;
  }

  p {
    margin: 0 0 2.3rem 0;
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 120%;
    opacity: .7;
  }

  &--page {
    padding: 0 0 1.5rem;

    .banner__item>img {
      display: none;
    }

    .banner__item {
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
    }

    .banner__inner {
      width: 70%;
      padding: 6.8rem 10.6rem 4.9rem;
    }

    h4 {
      margin: 0 0 1rem 0;
      font-size: 4rem;
      max-width: 90%;
    }

    p {
      font-size: 1.6rem;
    }

    span {
      background-color: #FFB800;
    }
  }

  &--page-two {
    span {
      background-color: #FF3838;
    }
  }

}

/*end banner========*/

/*start review========*/
.review {
  padding: 6.9rem 0;

  .title {
    margin: 0 0 2rem 0;
    padding: 0 0 0.6rem 0;
    border-bottom: 0.1rem solid rgba(209, 223, 163, .4);
  }

  .slick-list {
    padding: 4rem 0;
  }

  .slick-slide {
    margin: 0 1.5rem;
  }

  &__slider-item {
    padding: 1.6rem;
    border-radius: 1.2rem;
    background: rgba(255, 255, 255, 0.80);
    box-shadow: .2rem .2rem 5rem 0 rgba(0, 0, 0, 0.10);
  }

  &__slider-box {
    display: flex;
    margin: 0 0 1.5rem 0;

  }

  &__slider-avatar {
    margin: 0 1.2rem 0 0;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    overflow: hidden;
    flex-shrink: 0;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__slider-info {
    span {
      color: #868E96;
      font-size: 1.2rem;
      font-weight: 400;
    }
  }

  &__slider-name {
    margin: 0 0 .3rem 0;
    color: #16110C;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 120%;
  }

  .rateYo-review {
    margin: auto -.5rem 0 auto;
  }

  h5 {
    margin: 0 0 0.5rem 0;
    color: #8B9F57;
    font-size: 1.4rem;
    font-weight: 500;
  }

  h5+span {
    color: #868e96;
  }

  &>span {
    display: block;
    margin: 0 0 1rem 0;
    color: #868E96;
  }

  p {
    color: #16110C;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 120%;
    -ms-text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    overflow: hidden;
    -ms-line-clamp: 5;
    -webkit-line-clamp: 5;
    line-clamp: 5;
    display: -webkit-box;
    display: box;
    word-wrap: break-word;
    -webkit-box-orient: vertical;
    box-orient: vertical;
  }

  &__btn {
    display: flex;
    align-items: center;
    color: #868E96;
    font-size: 1.4rem;
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    transition: linear .2s;

    img,
    svg {
      width: 1.3rem;
      height: 0.9rem;
      margin: .2rem 0 0 .7rem;
      transition: linear .2s;
    }

    &:hover {
      color: #8b9f57;

      svg path {
        fill: #8b9f57;
      }
    }
  }

  .slick-arrow {
    top: -5.8rem;
    right: 0;
    position: absolute;
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    width: 2.5rem;
    height: 1.1rem;

    img,
    svg {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }

  .left {
    right: 2rem;
  }

  .slick-arrow.slick-disabled {
    svg path {
      fill: #868E96;
    }
  }

  .slick-list {
    width: calc(100% + 3rem);
    margin: 0 0 0 -1.5rem;
  }
}

/*end review========*/

/*start join=========*/
.join {
  padding: 2.6rem 0 13rem;

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__left {
    padding: 0 0 0 9.7rem;
    width: 50%;
    position: relative;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 6.7rem;
      height: 6.7rem;
      background-image: url("../images/dest/icons/send.svg");
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
    }

    p {
      margin: 0 0 1.8rem 0;
      color: #5E674D;
      font-size: 1.8rem;
      font-weight: 500;
      line-height: 120%;
    }

    h3 {
      margin: 0 0 1rem 0;
      color: #16110C;
      font-size: 3/8rem;
      font-weight: 600;
      line-height: 120%;
    }

    span {
      display: block;
      width: 50%;
      color: #868E96;
      font-size: 1.4rem;
      font-weight: 400;
      line-height: 120%;
    }
  }

  &__right {
    width: 43.3%;

    p {
      padding: 0 0 0 2rem;
      color: #868E96;
      font-size: 1.2rem;
      font-weight: 400;
    }
  }

  &__input-wrap {
    width: 100%;
    position: relative;

    input {
      width: 100%;
      padding: 1.7rem 15rem 1.7rem 1.6rem;
      border-radius: .8rem;
      border: .1rem solid #D9D9D9;
      outline: none;

      &::placeholder {
        color: #ADB5BD;
        font-size: 1.2rem;
        font-weight: 400;
        line-height: 120%;
      }
    }
  }

  .btn-green {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0.5rem;
  }
}

/*end join=========*/




/*start box================*/
.box {
  padding: 6rem 0 0 0;

  .category-list strong {
    font-size: 1.5rem;
    padding: 2.5rem 2rem;
  }

  &__inner {
    display: flex;
  }

  .category-list {
    border-radius: 1.4rem;
    height: 74rem;
    height: fit-content;
    width: 21%;
    flex-shrink: 0;
  }

  &__right {
    width: 100%;
    margin: 0 0 0 3rem;

    &--filters {

      .card {
        width: calc(20% - 3rem);
      }

      .banner__inner {
        width: 64%;
      }

      .popular {
        padding: 0 0 3.5rem;
      }

      .title {
        margin: 0 0 3rem 0;
        font-size: 4.4rem;
        font-weight: 500;
      }
    }
  }

  &--filter {
    padding: 6rem 0 6.5rem 0;

    .category-list {
      width: 15.5%;
    }

    .category-list__inner {
      border-radius: 1.4rem;
    }

    .category-list__inner>ul {
      padding: 2rem 1.5rem;
    }

    .category-list__inner>ul {
      height: 54rem;
    }
  }
}

.category {
  padding: 0 0 3.5rem;

  &__title {
    margin: 0 0 4rem;
    font-size: 4.4rem;
    font-weight: 500;
    line-height: 120%;
  }

  ul {
    margin: 0 0 0 -3rem;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
  }

  li {
    padding: 0 0 0 2rem;
    color: #FFF;
    margin: 0 0 3rem 3rem;
    width: calc(25% - 3rem);
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-image: url("../images/dest/content/category-item.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 1.4rem;
    overflow: hidden;
  }

  h6 {
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 120%;
  }

  img {
    width: 100%;
    height: 14rem;
    width: 12.9rem;
  }
}

/*end box================*/

/*start sale============*/
.sale {
  padding: 3.5rem 0 17rem;

  &__slider-item {
    height: auto;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 1.4rem;
    overflow: hidden;
    color: #fff;
  }

  &__slider-item:nth-child(odd) {
    a {
      margin: auto 0 0 0;
    }
  }

  &__slider-inner {
    height: 100%;
    min-height: 50rem;
    max-width: 80%;
    padding: 4.7rem 3.3rem 3.8rem;
    display: flex;
    flex-direction: column;
  }

  b {
    display: flex;
    margin: 0 0 2rem 0;
    font-size: 6rem;
    font-weight: 600;
    line-height: 120%;
  }

  h5 {
    margin: 0 0 1rem 0;
    font-size: 3rem;
    font-weight: 600;
    line-height: 120%;
  }

  span {
    margin: auto 0 2rem 0;
    padding: 0.6rem 0.7rem;
    display: block;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    font-size: 1.4rem;
    font-weight: 500;
    border-radius: 30rem;
    background-color: #ffb800;
    text-align: center;
  }

  p {
    margin: 0 0 4rem 0;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 120%;
  }

  .slick-slide {
    margin: 0 1.5rem;
  }

  .slick-list {
    width: calc(100% + 3rem);
    margin: 0 0 0 -1.5rem;
  }

  .slick-dots {
    right: 50%;
    transform: translateX(50%);
    bottom: -7rem;
    background-color: rgba(209, 223, 163, 0.40);
  }

  .slick-track {
    display: flex;
    flex-direction: row;
    align-items: stretch;
  }

}

/*end sale============*/

.underfooter {
  display: none;
}

.filter-btn {
  display: none;
  margin: 0 3rem 0 0;
  color: #16110C;
  font-size: 1rem;
  font-weight: 400;
  line-height: 120%;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border: none;
  outline: none;

  img {
    margin: 0 1rem 0 0;
    width: 1.3rem;
    height: 1.3rem;
  }
}

.range {
  margin: 0 0 1rem 0;
  width: 23rem;

  b {
    display: flex;
    margin: 0 0 4.7rem 0;
    color: #16110C;
    font-size: 1.4rem;
    font-weight: 500;
  }
}

/*start product==========*/
.product {
  padding: 6rem 0 4rem;

  &__inner {
    display: flex;
    justify-content: space-between;
  }

  .slick-prev {
    display: none !important;
  }

  &__slider {
    display: flex;
    flex-direction: row-reverse;
    width: 78rem;

    .card__stickers {
      li {
        font-size: 1.8rem;
        font-weight: 400;
      }
    }
  }

  &__slider-top {
    margin: 0 0 0 3rem;
    width: 61.6rem;

    .product__slider-item {
      padding: 4rem 1.5rem;
      width: 100%;
      height: 52.5rem;
      border-radius: 1.4rem;
      overflow: hidden;
      background: #FFF;
      box-shadow: .2rem .2rem 5rem 0 rgba(0, 0, 0, 0.10);
    }

    .product__slider-img {
      width: 100%;
      height: 100%;

      img {

        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }

    .slick-list {
      overflow: visible;
    }
  }

  &__slider-bottom {
    width: 14.4rem;
    flex-shrink: 0;
    height: fit-content;

    .product__img-item {
      margin: 0 0 1.5rem 0;
      width: 100% !important;
      width: 100%;
      height: 10.5rem;
      border-radius: .8rem;
      background: #FFF;
      background-color: rgba(#D9D9D9, .2);
    }

    .product__img {
      width: 100% !important;
      height: 100%;

      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }

    .slick-arrow {
      padding: 0;
      width: 4rem;
      height: 3rem;
      position: absolute;
      background-color: transparent;
      outline: none;
      cursor: pointer;
      border: none;
      left: 50%;
      bottom: -3.5rem;
      transform: translateX(-50%);

      img,
      svg {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }
  }

  &__right {
    width: 100%;
    margin: 0 0 0 3rem;
    position: relative;
    z-index: 9;
  }

  &__status {
    width: fit-content;
    margin: 0 0 1rem 0;
    padding: 0.7rem 1.6rem;
    color: #008C06;
    font-size: 1.2rem;
    font-weight: 400;
    border-radius: 5rem;
    background-color: rgba(0, 140, 6, 0.10);
  }

  h3 {
    max-width: 65%;
    margin: 0 0 2.8rem 0;
    color: #16110C;
    font-size: 3.8rem;
    font-weight: 600;
    line-height: 120%;
  }

  &__info {
    margin: 0 0 2rem 0;
    display: flex;
    align-items: center;

    &>span {
      padding: 0 0 0.4rem 0;
    }

    span {
      color: #868E96;
      font-size: 1.4rem;
      font-weight: 400;
    }
  }

  &__num {
    margin: 0 3rem 0 1rem;
    color: #000;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 120%;
  }

  &__rate-wrap {
    border-left: 1px solid #8B9F57;
    padding: 0 0 0 3rem;
    display: flex;
    align-items: center;
  }

  p {
    max-width: 95%;
    color: #16110C;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 120%;
  }

  &__box {
    margin: 0 0 2.8rem 0;
    display: flex;
    // flex-wrap: wrap;
  }

  &__box-item {
    padding: 1.5rem 2rem;
    margin: 2rem 1.5rem 0 0;

    &--wholesale {
      margin: 2rem 1.5rem 0 0;
      border-radius: .8rem;
      background: rgba(209, 223, 163, 0.40);
      box-shadow: .2rem .2rem 5rem 0 rgba(0, 0, 0, 0.10);
    }

    b {
      display: flex;
      margin: 0 0 1rem 0;
      color: #16110C;
      font-size: 1.6rem;
      font-weight: 600;
      line-height: 120%;
    }
  }

  &__box-inner {
    display: flex;
    align-items: flex-end;
  }

  &__box-sale {
    margin: 0 6.4rem 0 0;
    color: #868E96;
    font-size: 2.4rem;
    font-weight: 400;
    line-height: 100%;
    text-decoration: line-through;
  }

  &__box-price {
    color: #16110C;
    font-size: 3.8rem;
    font-weight: 500;
    line-height: 90%;
  }

  &__bonus {
    padding: 0 0 0.6rem 0;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #D9D9D9;
    flex-wrap: wrap;

    li+li {
      margin: 0 0 0 6rem;
    }

    li {
      display: flex;
      align-items: center;
      padding: 1rem 1.5rem;
      color: #16110C;
      font-size: 1.4rem;
      font-weight: 400;
    }

    img {
      margin: 0 0.7rem 0 0;
      width: 2rem;
      height: 2rem;
      object-fit: contain;
    }
  }

  &__line {
    margin: 0 0 2.5rem 0;
    padding: 2.8rem 0 0 0;
    display: flex;
    align-items: center;
  }

  &__add {
    padding: 1.1rem 3.9rem 1.1rem 3rem;
    margin: 0 3rem 0 3rem;
    height: 4.6rem;
    display: flex;
    align-items: center;

    svg {
      margin: 0 1rem 0 0;
    }
  }

  .card__like {
    position: static;
    border-radius: .8rem;
    border: .1rem solid #D9D9D9;
  }

  &__remainder {
    display: flex;
    color: #000;
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 120%;

    b {
      margin: 0 0 0 1rem;
      display: flex;
      color: #5E674D;
      font-size: 1.4rem;
      font-weight: 500;
    }
  }
}


.calc {
  height: 4.6rem;
  position: relative;
  width: 10.8rem;
  border-radius: .8rem;
  border: .1rem solid #DEE2E6;
  box-shadow: .1rem .2rem .4rem 0 rgba(33, 37, 41, 0.05);
  overflow: hidden;

  input {
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    text-align: center;
    padding: 0 3.2rem;
    color: #212529;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 120%;
  }

  &__minus {
    left: 0;
  }

  &__plus {
    right: 0;

    &::after {
      transform: translate(-50%, -50%) rotate(90deg) !important;
    }
  }

  &__btn {
    padding: 0;
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 1;
    height: 100%;
    width: 3.2rem;
    cursor: pointer;
    background-color: transparent;
    border: none;
    outline: none;

    &::after,
    &::before {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      content: "";
      border-radius: 1rem;
      background: #212529;
      width: 1rem;
      height: 0.2rem;
    }
  }
}

/*end product==========*/

/*start tab==========*/
.tab {
  padding: 5.5rem 0 6rem;

  &__buttons {
    padding: 0 0 1.8rem 0;
    display: flex;
    flex-wrap: wrap;
    border-bottom: 1px solid rgba(209, 223, 163, 0.40);
  }

  &__btn {
    margin: 0 3rem 0 0;
    padding: 1.5rem 4rem;
    color: #16110C;
    font-size: 2rem;
    font-weight: 500;
    line-height: 120%;
    border-radius: .8rem;
    background-color: transparent;
    outline: none;
    border: none;
    cursor: pointer;
    transition: linear .1s;
  }

  &__btn.active {
    background-color: rgba(209, 223, 163, 0.40);
  }

  h6 {
    margin: 3rem 0 2rem;
    color: #16110C;
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 120%;
  }

  p {
    margin: 0 0 1.5rem 0;
    color: #16110C;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 120%;
  }

  &__col-wrap {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  &__item-col {
    width: 100%;
  }

  &__item-col:nth-child(2) {
    margin: 0 0 0 3rem;
  }

  &__item-line {
    display: flex;
    justify-content: space-between;
    padding: 1.5rem 2rem;
    width: 100%;
    color: #16110C;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 120%;
    text-align: left;

    span:nth-child(1) {
      width: 70%;
      padding: 0 3rem 0 0;
    }

    span:nth-child(2) {
      width: 30%;
    }
  }

  &__item-line:nth-child(odd) {
    background-color: rgba(217, 217, 217, 0.50);
    border-radius: .6rem;
  }

  .review__slider-box {
    align-items: flex-start;
  }

  .jq-ry-container[readonly=readonly] {
    margin: 0 0 0 auto;
  }

  .review__slider-item {
    margin: 0 0 2rem 0;
    padding: 2.8rem 2rem 2rem 3rem;
  }

  .review__slider-avatar {
    margin: 0 2rem 0 0;
    width: 4rem;
    height: 4rem;
  }

  .review__slider-name {
    font-size: 1.6rem;
    font-weight: 600;
  }

  .pagination {
    margin: 4.2rem 0 0 0;
  }

  &__form {
    p {
      margin: 0 0 4rem 2rem;
      color: #868E96;
      font-size: 1.2rem;
      font-weight: 400;
      line-height: 120%;
    }
  }

  &__form-box {
    display: flex;
    justify-content: space-between;
    margin: 0 0 2rem -3rem;
  }

  &__input-wrap {
    width: calc(50% - 3rem);
    margin: 0 0 0 3rem;

    input {
      height: 4.1rem;
      padding: 1.2rem 2rem;
      width: 100%;
      border: none;
      outline: none;
      border-radius: .8rem;
      background-color: rgba(209, 223, 163, 0.40);
      color: #8B9F57;
      font-size: 1.4rem;
      font-weight: 400;
      line-height: 120%;

      &::placeholder {
        color: #8B9F57;
        font-size: 1.4rem;
        font-weight: 400;
        line-height: 120%;
      }
    }

  }

  &__form-rate {
    margin: 0 0 2rem 0;
    display: flex;
    align-items: center;

    span {
      display: flex;
      margin: .5rem 1.5rem 0 2rem;
      color: #8B9F57;
      font-size: 1.4rem;
      font-weight: 400;
      line-height: 120%;
    }
  }


  &__textarea-wrap {
    width: 100%;
    margin: 0 0 1.2rem 0;

    textarea {
      padding: 1.2rem 2rem;
      width: 100%;
      height: 11.3rem;
      border: none;
      outline: none;
      border-radius: .8rem;
      background-color: rgba(209, 223, 163, 0.40);
      color: #8B9F57;
      font-size: 1.4rem;
      font-weight: 400;
      line-height: 120%;
      resize: none;

      &::placeholder {
        color: #8B9F57;
        font-size: 1.4rem;
        font-weight: 400;
        line-height: 120%;
      }
    }
  }
}

/*end tab==========*/

/*start contacts==========*/
.contacts {

  padding: 0 0 11rem 0;

  .title {
    font-size: 4.4rem;
    margin: 0 0 4rem 0;
  }

  .tab__item-col {
    width: 55%;
  }

  .tab__item-col:nth-child(2) {
    margin: 0 0 0 3rem;
    width: 43.5%;
  }

  .tab__item-col {
    &>p {
      max-width: 90%;
      margin: 0 0 3rem 0;
      color: #868E96;
      font-size: 1.4rem;
      font-weight: 400;
      line-height: 120%;
      letter-spacing: -0.03px;
    }
  }

  h6 {
    margin: 0 0 1.5rem 0;
    color: #16110C;
    font-size: 3.8rem;
    font-weight: 600;
    line-height: 120%;
  }

  &__box {
    max-width: 61rem;
    border-top: 1px solid #868E96;
    margin: 2rem 0 0 0;
    padding: 4.2rem 0 0 0;
    display: flex;
    flex-wrap: wrap;
  }

  &__item {
    display: flex;
    flex-direction: column;
    width: 50%;

    img {
      margin: 0 1.5rem 0 0;
      width: 2rem;
      height: 2rem;
      object-fit: contain;
    }

    &--meil {
      margin: -3.8rem 0 0 0;
    }
  }

  b {
    margin: 0 0 1.5rem 0;
    color: #868E96;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 120%;
  }

  a,
  span {
    display: flex;
    align-items: center;
    width: fit-content;
    margin: 0 0 1rem 0;
    color: #16110C;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 120%;
  }

  a {
    transition: linear .1s;

    &:hover {
      opacity: .8;
    }
  }

  &__date {
    display: flex;
  }

  &__box-soc {
    margin: 3rem 0 0 0;
    width: 100%;
    display: flex;

    a {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 4rem;
      height: 4rem;
      border-radius: .6rem;
      background-color: rgba(139, 159, 87, 0.40);
      transition: linear .1s;

      &:hover {
        opacity: .8;
      }

      svg {
        width: 2rem;
        height: 2rem;
      }
    }

    a+a {
      margin: 0 0 0 2rem;
    }
  }
}

/*end contacts==========*/

/*start pay-delivery===============*/
.delivery {
  margin: 0 0 5rem 0;

  h2 {
    margin: 0 0 4.3rem 0;
    font-size: 4.4rem;
  }

  &__inner {
    padding: 4rem 3rem;
    border-radius: 14px;
    background-color: #FFF;
    box-shadow: .2rem .2rem 5rem 0 rgba(0, 0, 0, 0.10);
    color: #16110C;

    &>p {
      margin: 0 0 1rem 0;
    }

  }

  p,
  span {
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 120%;
  }

  h3 {
    margin: 0 0 3rem 0;
    color: #16110C;
    font-size: 3rem;
    font-weight: 600;
    line-height: 120%;
  }


  h4 {
    padding: 0 0 1rem 0;
    margin: 3rem 0 2rem;
    font-size: 2rem;
    font-weight: 500;
    line-height: 120%;
    border-bottom: 1px solid #D9D9D9;

    span {
      color: #8B9F57;
      font-size: 2rem;
      font-weight: 500;
    }
  }

  &__box+p {
    margin: 2rem 0 1rem 0;
  }

  &__box-item {
    margin: 0 0 0.8rem 0;
    display: flex;
    align-items: flex-start;

    span {
      display: flex;
      margin: 0 1.5rem 0 0;
      width: 19rem;
      flex-shrink: 0;
      color: #8B9F57;
    }

    p {
      width: 100%;
      margin: 0;
    }
  }

  h5 {
    margin: 2rem 0 2rem 0;
    font-size: 2rem;
    font-weight: 500;
    line-height: 120%;
  }

  h6 {
    margin: 2rem 0 2rem 0;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 120%;
  }
}

.pay {
  padding: 5rem 0 10rem 0;

  &__inner {
    padding: 4rem 3rem;
    border-radius: 14px;
    background-color: rgba(139, 159, 87, 0.40);
    box-shadow: .2rem .2rem 5rem 0 rgba(0, 0, 0, 0.10);
    color: #16110C;

    &>p {
      margin: 0 0 3rem 0;
    }

  }

  p,
  span {
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 120%;
  }

  h2 {
    margin: 0 0 4.3rem 0;
    font-size: 4.4rem;
  }

  h3 {
    margin: 0 0 2rem 0;
    color: #16110C;
    font-size: 3rem;
    font-weight: 600;
    line-height: 120%;
  }


  h4 {
    padding: 0 0 1rem 0;
    margin: 3rem 0 2rem;
    font-size: 2rem;
    font-weight: 500;
    line-height: 120%;
  }

  &__item {
    margin: 0 0 5rem 0;
    display: flex;
    align-items: flex-start;

    span {
      display: flex;
      margin: 0 1.5rem 0 0;
      width: 18rem;
      font-weight: 600;
      flex-shrink: 0;
      font-size: 1.6rem;
    }

    p {
      width: 100%;
      margin: 0;
    }
  }

  h5 {
    margin: 2rem 0 2rem 0;
    font-size: 2rem;
    font-weight: 500;
    line-height: 120%;
  }

  h6 {
    margin: 2rem 0 2rem 0;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 120%;
  }
}

.page--cooperation {
  .pay {
    padding: 0 0 10.5rem 0;
  }

  .pay__inner>p,
  .delivery__inner>p {
    margin: 0 0 1rem 0;
  }

  .delivery {
    margin: 0 0 9rem 0;
  }
}

.range {
  height: 9.1rem;
}

.range__box {
  height: 6rem;
}

/*end pay-delivery===============*/
































/*start footer==============*/
.footer {
  background-color: #16110C;
  color: #fff;

  &__inner {
    display: flex;
    align-items: flex-end;
    padding: 5rem 0 7rem;
  }

  &__box {
    width: 21%;

    p {
      color: rgba(255, 255, 255, 0.80);
      font-size: 1.2rem;
      font-weight: 400;
      margin: 0;
    }
  }

  &__logo {
    display: block;
    margin: 0 0 1rem 0;
    width: 8.8rem;
    height: 3.6rem;

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }

  a {
    display: flex;
    align-items: center;
    font-size: 1.4rem;
    line-height: 120%;
    transition: linear .2s;

    &:hover {
      opacity: .7;
    }
  }

  a+a {
    margin: 1rem 0 0 0;
  }

  &__coll {
    margin: 0 0 0 11%;
    display: flex;
    flex-direction: column;

    img {
      width: 1.5rem;
      height: 1.5rem;
      object-fit: contain;
      margin: 0 0.6rem 0 0;
    }
  }

  &__date {
    display: flex;
    margin: 0 0 0 10.5%;

    img {
      width: 1.5rem;
      height: 1.5rem;
      object-fit: contain;
      margin: 0 0.6rem 0 0;
    }
  }

  &__date-boxx {
    display: flex;
    flex-direction: column;

    span {
      display: flex;
      font-size: 1.4rem;
      line-height: 120%;
    }

    span+span {
      margin: 1rem 0 0 0;
    }
  }

  nav {
    margin: 0 0 0 10.5%;

    li+li {
      margin: 1rem 0 0 0;
    }
  }

  &__soc {
    display: flex;
    margin: 0 5.5% 0 auto;

    li {
      width: 3rem;
      height: 3rem;
      border-radius: .6rem;
      background-color: #fff;
      transition: linear .2s;

      &:hover {
        opacity: .8;
      }

      img {
        width: 1.5rem;
        height: 1.5rem;
        object-fit: contain;
      }
    }

    a {
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;

    }

    li+li {
      margin: 0 0 0 1.2rem;
    }
  }

  &__bot {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.8rem 0 3rem;
    border-top: .1rem solid #fff;

    p {
      color: #FFF;
      font-size: 1rem;
      font-weight: 400;
      line-height: 120%;
      letter-spacing: 0.1rem;
    }

    img {
      width: 7.4rem;
      height: 2.1rem;
      object-fit: contain;
    }
  }
}

/*end footer==============*/


@import "media";